.stats-section {
  display: flex;
  align-items: start;
  gap: 30px;
}
.stat-item {
  &__count {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-transform: capitalize;
    color: #ffffff;
  }
  &__label {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-transform: capitalize;
    color: #ffffff;
  }
}
