.categories-grid {
  margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.category-item {
  position: relative;
  background: #3b3b3b;
  border-radius: 20px;
  overflow: hidden;
  &__bg {
    position: relative;
  }
  &__blur {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(7.5px);
  }
  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    padding: 20px 30px;
  }
}

@media (max-width: 940px) {
  .category-item {
    &__icon {
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }
}
@media (max-width: 714px) {
  .categories-grid {
    margin-top: 40;

    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .category-item {
    &__bg {
      & img {
        width: 100%;
      }
    }
  }
}
