.discover-more {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
