.discover-more {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 940px) {
  .discover-more {
    &__list {
      margin-top: 40px;
      grid-template-columns: repeat(2, 1fr);
      > :nth-child(3) {
        display: none;
      }
    }
  }
}

@media (max-width: 714px) {
  .discover-more {
    &__list {
      margin-top: 40px;
      grid-template-columns: 1fr;
      > :nth-child(3) {
        display: block;
      }
    }
  }
}
// > :nth-child(3) {
