.join-body {
  padding: 60px;

  display: flex;
  justify-content: space-between;
  gap: 80px;
  border-radius: 20px;
  background: #3b3b3b;
  &__banner {
    max-width: 425px;
    max-height: 425px;
    width: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 20px;
      overflow: hidden;
    }
  }
}

@media (max-width: 940px) {
  .join-body {
    padding: 40px 30px;
    gap: 30px;
    &__banner {
      max-width: 300px;
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
}

@media (max-width: 714px) {
  .join-body {
    flex-direction: column;
    &__banner {
      max-width: 100%;
      aspect-ratio: 1/1;
    }
  }
}
