.top-creaters {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media (max-width: 940px) {
  .top-creaters {
    &__list {
      margin-top: 40px;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
}
