.top-creaters {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
