.trending-section {
  &__gallery {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 940px) {
  .trending-section {
    &__gallery {
      margin-top: 40px;
      grid-template-columns: 1fr 1fr;
      > :nth-child(3) {
        display: none;
      }
    }
  }
}

@media (max-width: 714px) {
  .trending-section {
    &__gallery {
      margin-top: 40px;
      grid-template-columns: 1fr;
      > :nth-child(2) {
        display: none;
      }
    }
  }
}
