.email-input {
  margin-top: 40px;
  padding-left: 20px;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  background: #fff;
  border-radius: 20px;
  &__body {
    width: 100%;
    color: #2b2b2b;
    &::placeholder {
      color: #2b2b2b;
    }
  }
}
