.email-input {
  margin-top: 40px;
  padding-left: 20px;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  background: #fff;
  border-radius: 20px;
  &__body {
    width: 100%;
    color: #2b2b2b;
    &::placeholder {
      color: #2b2b2b;
    }
  }
}

@media (max-width: 940px) {
  .email-input {
    padding-left: 0px;
    background: transparent;
    flex-direction: column;
    &__body {
      background: #fff;
      padding: 12px 20px;
      border-radius: 20px;
    }
  }
}
