.nav-body {
  position: relative;
}
.header-nav {
  position: absolute;
  display: none;
  &__burger {
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    & a {
      display: inline-block;
      padding: 20px;
    }
  }
}

@media (min-width: 940px) {
  .header-nav {
    position: static;
    display: flex;
    align-items: center;
    gap: 10px;
    &__burger {
      display: none;
    }
  }
}
