@function fluid-font($min, $max, $min-vw: 320, $max-vw: 1300) {
  $slope: ($max - $min) / ($max-vw - $min-vw);
  $intercept: $min - $slope * $min-vw;
  @return clamp(#{$min}px, #{$intercept}px + #{$slope * 100}vw, #{$max}px);
}

.max-w-510 {
  max-width: 510px;
}
.text-center {
  text-align: center;
}
.mt-20 {
  margin-top: 20px;
}
.heading-h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: fluid-font(22, 67);
  line-height: 110%;
  text-transform: capitalize;
  color: #ffffff;
}

.heading-h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
  color: #ffffff;
}

.heading-h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: fluid-font(28, 38, 320, 1920);
  line-height: 120%;
  text-transform: capitalize;
  color: #ffffff;
}

.heading-h5 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: fluid-font(16, 22, 320, 1720);
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
}

@media (max-width: 714px) {
  .text-center {
    text-align: start;
  }
}
