.text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #ffffff;
}

.welcome-text {
  max-width: 510px;
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}
